@import "reset.css";
@import "fonts/fonts.css";

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rectangle1{

position: absolute;
width: 1440px;
height: 690px;
left: 0px;
top: 0px;

background: #272F41;

}
h1 {
  position: absolute;
width: 1018px;
height: 171px;
left: 211px;
top: 218px;

font-family: RF Dewi Expanded;
font-style :normal;
font-weight: 900;
font-size: 144px;
line-height: 173px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #F24141;
}

h2{
  position: absolute;
width: 793px;
height: 121px;
left: 309px;
top: 334px;

font-family: heading-pro-wide-trial-black;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 19px;
text-align: center;
letter-spacing: 0.125em;
text-transform: uppercase;

color: #F5CCA6;
}

.paragraph-heading{
  position: absolute;
width: 680px;
height: 60px;
left: 365px;
top: 395px;

font-family: RF Dewi Expanded;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 142.5%;

text-align: center;

color: #F5CCA6;
}

.rectangle2{
position: absolute;
width: 1440px;
height: 699px;
left: 0px;
top: 689px;

background: #F24141;
}

.subtitle1{
position: absolute;
width: 560px;
height: 119px;
left: 705px;
top: 827px;

font-family: RF Dewi Expanded;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 115px;
text-decoration-line: underline;
text-transform: uppercase;

color: #272F41;
}

.subtitle2{
position: absolute;
width: 647px;
height: 120px;
left: 639px;
top: 961px;

font-family: RF Dewi Expanded;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 115px;
text-decoration-line: underline;
text-transform: uppercase;

color: #272F41;
}

.subtitle3{
position: absolute;
width: 437px;
height: 112px;
left: 827px;
top: 1098px;

font-family: RF Dewi Expanded;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 115px;
text-align: right;
text-decoration-line: underline;
text-transform: uppercase;

color: #272F41;
}


.rectangle3{
position: absolute;
width: 1440px;
height: 8028px;
left: 0px;
top: 1388px;

background: #272F41;
}
